@use "../variable";
@use "../color";
@use "./main";
@use "./hearder";
@use "./body";
@use "./footer";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}
