@use "../color";
@use "../variable";
@use "./header.scss";
@use "./main";
@use "./footer";
@use "./home";
@use "./about";
@use "./contact";
html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

a {
  color: var(--text-color);
  text-decoration: inherit;

  &:hover {
    color: var(--primary-color);
  }
}
